.banner {
    background: #2A2A2A;
    padding: 60px 40px;
  }

  .banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 60px;
    flex-wrap: wrap; /* para responsividade */
  }

  .banner-text {
    flex: 1;
    max-width: 600px;
  }
  
  .banner-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }
  
  .banner-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  
  .highlight-orange {
    color: #f2673d;
    font-weight: bold;
  }
  
  .highlight-bold {
    font-weight: bold;
    color: #f2673d;
  }
  
  .banner-text p {
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .banner-button {
    background-color: #D55827;
    color: white;
    border: none;
    padding: 14px 24px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .banner-button:hover {
    background-color: #bb461e;
  }
  
  .banner-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
  }