footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #203124;
    background-color: #FFF;
    font-size: 16px;
}

.footer-area {
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 999;
}


footer a {
    color: #203124;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}